.wrapper {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .logo {
    animation: logo 6s linear infinite;
  }
}

.content {
  padding-top: 16px;
}

.content-status {
  color: white;
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}

@keyframes logo {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
