.login-wrap {
  background: #c4d0e2;
  height: 100%;
}

.login-main {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-left {
  color: rebeccapurple;
}

.login-right {
  background: #fff;
  box-shadow: 1px 1px 1px #eee;
  padding: 20px;
  border-radius: 8px;

  img {
    width: 100px;
    height: 50px;
  }
}

.login-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
  align-items: baseline;

  span:first-child {
    font-size: 24px;

    span {
      font-size: 16px;
      font-weight: 400;
      color: #646262;

      &:hover {
        text-decoration: none;
      }
    }
  }

  span:last-child {
    color: #333;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;

    &:hover {
      text-decoration: underline;
    }
  }
}
